# cat server_cert.cnf
[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = US
ST  = FL
L   = New Port Richey
O   = Welbilt, Inc
OU  = IT
CN  = fabristeel.kitchen

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = fabristeel.kitchen
DNS.2 = www.fabristeel.kitchen
DNS.3 = direct.fabristeel.kitchen
DNS.4 = admin.fabristeel.kitchen
DNS.5 = staging.fabristeel.kitchen
DNS.6 = adminstaging.fabristeel.kitchen